code/output/ExtractedPatterns_BPIC15_1.xes.xml.csv
code/output/ExtractedPatterns_BPIC15_2.xes.xml.csv
code/output/ExtractedPatterns_BPIC15_3.xes.xml.csv
code/output/ExtractedPatterns_BPIC15_4.xes.xml.csv
code/output/ExtractedPatterns_BPIC15_5.xes.xml.csv
code/output/violations.csv
code/venv
code/.idea
